:root {
    --md-red-1: #FFEBEE;
    --md-red-2: #FFCDD2;
    --md-red-3: #EF9A9A;
    --md-red-4: #E57373;
    --md-red-5: #EF5350;
    --md-red-6: #F44336;
    --md-red-7: #E53935;
    --md-red-8: #D32F2F;
    --md-red-9: #C62828;
    --md-red-10: #B71C1C;
    --md-pink-1: #FCE4EC;
    --md-pink-2: #F8BBD0;
    --md-pink-3: #F48FB1;
    --md-pink-4: #F06292;
    --md-pink-5: #EC407A;
    --md-pink-6: #E91E63;
    --md-pink-7: #D81B60;
    --md-pink-8: #C2185B;
    --md-pink-9: #AD1457;
    --md-pink-10: #880E4F;
    --md-purple-1: #F3E5F5;
    --md-purple-2: #E1BEE7;
    --md-purple-3: #CE93D8;
    --md-purple-4: #BA68C8;
    --md-purple-5: #AB47BC;
    --md-purple-6: #9C27B0;
    --md-purple-7: #8E24AA;
    --md-purple-8: #7B1FA2;
    --md-purple-9: #6A1B9A;
    --md-purple-10: #4A148C;
    --md-deep-purple-1: #EDE7F6;
    --md-deep-purple-2: #D1C4E9;
    --md-deep-purple-3: #B39DDB;
    --md-deep-purple-4: #9575CD;
    --md-deep-purple-5: #7E57C2;
    --md-deep-purple-6: #673AB7;
    --md-deep-purple-7: #5E35B1;
    --md-deep-purple-8: #512DA8;
    --md-deep-purple-9: #4527A0;
    --md-deep-purple-10: #311B92;
    --md-indigo-1: #E8EAF6;
    --md-indigo-2: #C5CAE9;
    --md-indigo-3: #9FA8DA;
    --md-indigo-4: #7986CB;
    --md-indigo-5: #5C6BC0;
    --md-indigo-6: #3F51B5;
    --md-indigo-7: #3949AB;
    --md-indigo-8: #303F9F;
    --md-indigo-9: #283593;
    --md-indigo-10: #1A237E;
    --md-blue-1: #E3F2FD;
    --md-blue-2: #BBDEFB;
    --md-blue-3: #90CAF9;
    --md-blue-4: #64B5F6;
    --md-blue-5: #42A5F5;
    --md-blue-6: #2196F3;
    --md-blue-7: #1E88E5;
    --md-blue-8: #1976D2;
    --md-blue-9: #1565C0;
    --md-blue-10: #0D47A1;
    --md-light-blue-1: #E1F5FE;
    --md-light-blue-2: #B3E5FC;
    --md-light-blue-3: #81D4FA;
    --md-light-blue-4: #4FC3F7;
    --md-light-blue-5: #29B6F6;
    --md-light-blue-6: #03A9F4;
    --md-light-blue-7: #039BE5;
    --md-light-blue-8: #0288D1;
    --md-light-blue-9: #0277BD;
    --md-light-blue-10: #01579B;
    --md-cyan-1: #E0F7FA;
    --md-cyan-2: #B2EBF2;
    --md-cyan-3: #80DEEA;
    --md-cyan-4: #4DD0E1;
    --md-cyan-5: #26C6DA;
    --md-cyan-6: #00BCD4;
    --md-cyan-7: #00ACC1;
    --md-cyan-8: #0097A7;
    --md-cyan-9: #00838F;
    --md-cyan-10: #006064;
    --md-teal-1: #E0F2F1;
    --md-teal-2: #B2DFDB;
    --md-teal-3: #80CBC4;
    --md-teal-4: #4DB6AC;
    --md-teal-5: #26A69A;
    --md-teal-6: #009688;
    --md-teal-7: #00897B;
    --md-teal-8: #00796B;
    --md-teal-9: #00695C;
    --md-teal-10: #004D40;
    --md-green-1: #E8F5E9;
    --md-green-2: #C8E6C9;
    --md-green-3: #A5D6A7;
    --md-green-4: #81C784;
    --md-green-5: #66BB6A;
    --md-green-6: #4CAF50;
    --md-green-7: #43A047;
    --md-green-8: #388E3C;
    --md-green-9: #2E7D32;
    --md-green-10: #1B5E20;
    --md-light-green-1: #F1F8E9;
    --md-light-green-2: #DCEDC8;
    --md-light-green-3: #C5E1A5;
    --md-light-green-4: #AED581;
    --md-light-green-5: #9CCC65;
    --md-light-green-6: #8BC34A;
    --md-light-green-7: #7CB342;
    --md-light-green-8: #689F38;
    --md-light-green-9: #558B2F;
    --md-light-green-10: #33691E;
    --md-lime-1: #F9FBE7;
    --md-lime-2: #F0F4C3;
    --md-lime-3: #E6EE9C;
    --md-lime-4: #DCE775;
    --md-lime-5: #D4E157;
    --md-lime-6: #CDDC39;
    --md-lime-7: #C0CA33;
    --md-lime-8: #AFB42B;
    --md-lime-9: #9E9D24;
    --md-lime-10: #827717;
    --md-yellow-1: #FFFDE7;
    --md-yellow-2: #FFF9C4;
    --md-yellow-3: #FFF59D;
    --md-yellow-4: #FFF176;
    --md-yellow-5: #FFEE58;
    --md-yellow-6: #FFEB3B;
    --md-yellow-7: #FDD835;
    --md-yellow-8: #FBC02D;
    --md-yellow-9: #F9A825;
    --md-yellow-10: #F57F17;
    --md-amber-1: #FFF8E1;
    --md-amber-2: #FFECB3;
    --md-amber-3: #FFE082;
    --md-amber-4: #FFD54F;
    --md-amber-5: #FFCA28;
    --md-amber-6: #FFC107;
    --md-amber-7: #FFB300;
    --md-amber-8: #FFA000;
    --md-amber-9: #FF8F00;
    --md-amber-10: #FF6F00;
    --md-orange-1: #FFF3E0;
    --md-orange-2: #FFE0B2;
    --md-orange-3: #FFCC80;
    --md-orange-4: #FFB74D;
    --md-orange-5: #FFA726;
    --md-orange-6: #FF9800;
    --md-orange-7: #FB8C00;
    --md-orange-8: #F57C00;
    --md-orange-9: #EF6C00;
    --md-orange-10: #E65100;
    --md-deep-orange-1: #FBE9E7;
    --md-deep-orange-2: #FFCCBC;
    --md-deep-orange-3: #FFAB91;
    --md-deep-orange-4: #FF8A65;
    --md-deep-orange-5: #FF7043;
    --md-deep-orange-6: #FF5722;
    --md-deep-orange-7: #F4511E;
    --md-deep-orange-8: #E64A19;
    --md-deep-orange-9: #D84315;
    --md-deep-orange-10: #BF360C;
    --md-brown-1: #EFEBE9;
    --md-brown-2: #D7CCC8;
    --md-brown-3: #BCAAA4;
    --md-brown-4: #A1887F;
    --md-brown-5: #8D6E63;
    --md-brown-6: #795548;
    --md-brown-7: #6D4C41;
    --md-brown-8: #5D4037;
    --md-brown-9: #4E342E;
    --md-brown-10: #3E2723;
    --md-grey-1: #FAFAFA;
    --md-grey-2: #F5F5F5;
    --md-grey-3: #EEEEEE;
    --md-grey-4: #E0E0E0;
    --md-grey-5: #BDBDBD;
    --md-grey-6: #9E9E9E;
    --md-grey-7: #757575;
    --md-grey-8: #616161;
    --md-grey-9: #424242;
    --md-grey-10: #212121;
    --md-blue-grey-1: #ECEFF1;
    --md-blue-grey-2: #CFD8DC;
    --md-blue-grey-3: #B0BEC5;
    --md-blue-grey-4: #90A4AE;
    --md-blue-grey-5: #78909C;
    --md-blue-grey-6: #607D8B;
    --md-blue-grey-7: #546E7A;
    --md-blue-grey-8: #455A64;
    --md-blue-grey-9: #37474F;
    --md-blue-grey-10: #263238;
    --md-neutral-1: #FFFFFF;
    --md-neutral-2: #000000;
}
